html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup,iframe{ margin:0; padding:0; border:0; }
body{ font-family:Arial,"PingFang SC", "Microsoft YaHei", "微软雅黑"; font-size:12px; background:#fff;  color:#333; }
img{ border:none;}
ul,li{ list-style:none;}
a{text-decoration:none; outline:none;}
a:hover{text-decoration: none;}

.banner{width: 100%;}
.banner img{width: 100%;}
.content{width: 80%; margin:0 auto;}
.content .signup{
	display: block; 
	height: 125px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 40px;
	line-height: 125px;
	font-weight: bold;
	background: url(images/button_bg.png);
	background-size: 100% 100%;
	margin: 20px 0 40px 0;
}