body{
	background-color: #f5f5f5;
	font-size: 20px;
	margin: 0;
	padding: 0;
}
.title{
	background: #FFFFFF;
	width: 95%;
	height: 50px;
	border: 1px solid #DCDCDC;
	margin: 10px auto 0px;
	position: relative;
}
.title-img{
	float: left;
	height: 25px;
	width: 25px;
	margin-left: 5%;
	padding-top: 0.75rem;
}
.title-img img{
	width: 100%;
}
.title-p{
	padding-left: 15%;
	font-size: 90%;
	font-weight: bold;
	margin: 0;
	line-height: 50px;
}
.content{
	height: auto!important;
	height: 50px;
	min-height: 50px;
	width: 95%;
	background: #FFFFFF;
	border: 1px solid #DCDCDC;
	margin: 0 auto;
	position: relative;
}
.content-img{
	float: left;
	height: 25px;
	width: 25px;
	margin-left: 5%;
	padding-top: 0.75rem;
}
.content-img img{
	width: 100%;
}
.content-time{
	padding-left: 15%;
	font-weight: 800;
	margin: 0;
	line-height: 50px;
}
.content-content{
	margin: 0;
	font-size: 70%;
	color: #505050;
	margin: -9px 1rem 0.8rem 1rem;
}